*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    width: 100%;
    border: 1px solid back;
}
.list ul{
    width: 600px;
}

.medicine-details-list{
    list-style: none;
}
.medicine-details-list span{
    font-weight: bold;
}
.medicine-details-list li{
    margin-top: 10px;
}
/* image */
#image img{
    width: 200px;
}