*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    width: 100%;
    border: 1px solid back;
}
.list ul{
    width: 600px;
}
.list ul li{
    cursor: pointer;
}

.medicine-details-list{
    list-style: none;
}
.medicine-details-list span{
    font-weight: bold;
}
.medicine-details-list li{
    margin-top: 10px;
}
/* image */
#image img{
    width: 200px;
}
/* list image and medicine */
.list-medicine{
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
.list-image{
    width: 50px;
}
/* input image */
#medicine-image-base64, #medicine-update-image-base64 {
    width: 100px;
}